{% extends "users/base.html" %}
{% block content %}

    {% if form.non_field_errors %}
<div>
    <font color="red">{{ form.non_field_errors }}</font>
</div>
{% endif %}

{% if messages %}
<div>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
</div>
{% endif %}

<h6>Введите свою почту, на которую зарегистирован аккаунт. На нее прийдет письмо и Вы сможете восстановить пароль</h6>
<form action="{% url 'users:forgot_password' %}" method="POST">
    {% csrf_token %}

    <div class="form-group">
        <label for="{{ form.email.id_for_label }}">
            Почта
        </label>
        {{ form.email }}
    </div>
    <input class="btn btn-primary" type="submit" value="Отправить">
</form>


{% endblock %}
