{% extends "users/base.html" %}
{% block content %}
    
    {% if form.non_field_errors %}
<div>
    <font color="red">{{ form.non_field_errors }}</font>
</div>
{% endif %}

{% if messages %}
<div>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
</div>
{% endif %}

<h6>Придумайте новый пароль и не забывайте его!</h6>
<form action="{% url 'users:reset_password' email code %}" method="POST">
    {% csrf_token %}

    <div class="form-group">
        <label for="{{ form.password1.id_for_label }}">
            Пароль
        </label>
        {{ form.password1 }}
    </div>
    <div class="form-group">
        <label for="{{ form.password2.id_for_label }}">
            Подтвердите пароль
        </label>
        {{ form.password2 }}
    </div>
    <input class="btn btn-primary" type="submit" value="Установить">
</form>


{% endblock %}
